    img { 
        width: 100%;
      }
      
      @media(min-width: 600px) {
        #instafeed {
          display: flex;
          align-items: flex-end;
        }
      
        .post-container {
          overflow: hidden;
        }
      }
